constant: {{constant_module}}
<div class="form-group row">
    <div id="value" class="col-xs-12 col-sm-12 col-md-12">
        <label for="value">Constant</label>
        <input ng-model="constant_module[0].value" class="form-control"
               placeholder="constant_module[0].value"/>
    </div>
</div>

<button ng-click="doSave()" class="btn btn-sm btn-danger" type="submit">Save</button>


<hr>

producers: {{constant_module_producer}}
<div class="form-group row">
    <div id="value1" class="col-xs-12 col-sm-12 col-md-12">
        <label for="value1">Producer</label>
        <input ng-model="constant_module_producer[2].producerName"
               class="form-control"
               placeholder="constant_module_producer[2].producerName"/>
        <br>
        <select name="mySelect" id="mySelect" class="form-control"
                ng-options="option.value for option in constant_module track by option.value"
                ng-model="constant_module_producer[2].producerCountry"></select>
    </div>
</div>
{{constant_module_producer[2].producerCountry}}
<button ng-click="doSaveProducer()" class="btn btn-sm btn-danger" type="submit">Save</button>