<div ng-controller="manageCtrl" class="col-xs-12 col-sm-12 col-md-12">

    <div id="container" class="col-xs-8 col-sm-8 col-md-8">

        <div class="form-group">
            <label>Model Name:</label>
            <input
                    placeholder="name"
                    ng-model="pump.modelName"
                    class="form-control"/>
        </div>

        <div class="form-group">
            <label>Price:</label>
            <input
                    placeholder="price"
                    ng-model="result.newPump.price"
                    type="number"
                    min="0"
                    step="1"
                    class="form-control"/>
        </div>

        <div class="form-group" ng-init="getProducers()">
            <label for="producer">Producer:</label>
            <select class="form-control" id="producer" ng-model="pump.producer.id">
                <option></option>
                <option ng-repeat="item in producers.list |
                 orderBy: 'producerName'">{{item.producerName}}, {{item.producerCountry.value}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="pumpType">Pump type:</label>
            <select class="form-control" id="pumpType" ng-model="result.newPump.pumpType.value">
                <option></option>
                <option ng-repeat="item in result.list | orderBy: 'value' | filter: 'pump type'">{{item.value}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="casingMaterial">Casing material:</label>
            <select class="form-control" id="casingMaterial" ng-model="result.newPump.material">
                <option></option>
                <option ng-repeat="item in result.list | orderBy: 'value' | filter: 'material'">{{item.value}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="rotorGearMaterial">Rotor Gear material:</label>
            <select class="form-control" id="rotorGearMaterial" ng-model="result.newPump.material2">
                <option></option>
                <option ng-repeat="item in result.list | orderBy: 'value' | filter: 'material'">{{item.value}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="idlerGearMaterial">Idler Gear material:</label>
            <select class="form-control" id="idlerGearMaterial" ng-model="result.newPump.material3">
                <option></option>
                <option ng-repeat="item in result.list | orderBy: 'value' | filter: 'material'">{{item.value}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="shaftSupportMaterial">Shaft Support material:</label>
            <select class="form-control" id="shaftSupportMaterial" ng-model="result.newPump.material4">
                <option></option>
                <option ng-repeat="item in result.list | orderBy: 'value' | filter: 'material'">{{item.value}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="shaftMaterial">Shaft material:</label>
            <select class="form-control" id="shaftMaterial" ng-model="result.newPump.material5">
                <option></option>
                <option ng-repeat="item in result.list | orderBy: 'value' | filter: 'material'">{{item.value}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="connectionType">Connections type:</label>
            <select class="form-control" id="connectionType" ng-model="result.newPump.connectionType">
                <option></option>
                <option ng-repeat="item in result.list | orderBy: 'value' | filter: 'connections type'">{{item.value}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="dn">DN:</label>
            <select class="form-control" id="dn" ng-model="result.newPump.dn">
                <option></option>
                <option ng-repeat="item in result.list | orderBy: 'value' | filter: 'DN'">{{item.value}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="connectionsAngle">Connections placement angle [&#176;]:</label>
            <select class="form-control" id="connectionsAngle" ng-model="result.newPump.connectionsAngle">
                <option></option>
                <option ng-repeat="item in result.list | orderBy: 'value' | filter: 'connections angle'">
                    {{item.value}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="maxPressure">Max. Pressure [bar]:</label>
            <select class="form-control" id="maxPressure" ng-model="result.newPump.maxPressure">
                <option></option>
                <option ng-repeat="item in result.list | orderBy: 'value' | filter: 'max. pressure'">{{item.value}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label for="maxTemperature">Max. Temperature [&#8451;]:</label>
            <select class="form-control" id="maxTemperature" ng-model="result.newPump.maxTemperature">
                <option></option>
                <option ng-repeat="item in result.list | orderBy: 'value' | filter: 'max. temperature'">{{item.value}}
                </option>
            </select>
        </div>

        <div class="form-group">
            <label>Speed Correction Coefficient:</label>
            <input
                    placeholder="coefficient"
                    ng-model="result.newPump.speedCorrectionCoefficient"
                    type="number"
                    min="0"
                    step="0.01"
                    class="form-control"/>
        </div>


        <div class="form-group">
            <label>Viscosity Correction Coefficients:</label>
            <div ng-repeat="item in seals.list"><input
                    placeholder="viscosity"
                    ng-model="result.newPump.speedCorrectionCoefficient1"
                    type="number"
                    min="0"
                    step="1"
                    class="form-control"/>
                <input
                        placeholder="coefficient"
                        ng-model="result.newPump.speedCorrectionCoefficient2"
                        type="number"
                        min="0"
                        step="1"
                        class="form-control"/></div>
        </div>


        <div class="form-group" ng-init="getSeals()">
            <label>Suitable Seals:</label>
            <multi-select></multi-select>
        </div>

    </div>


    {{result}}

</div>