<div class="col-xs-12 col-sm-12 col-md-12">
    {{search}}
    {{units}}
    <!--MEDIUM-->
    <div class="form-group row">
        <div id="medium" class="col-xs-12 col-sm-12 col-md-12">
            <label for="medium">Medium</label>
            <input ng-model="search.medium" class="form-control form-control-sm" placeholder="Medium"/>
        </div>
    </div>
    <!--CAPACITY-->
    <div class="form-group row">
        <div id="capacity" class="col-xs-12 col-sm-4 col-md-4">
            <label for="capacity">Capacity</label>
            <div class="input-group">
                <input
                        placeholder="m&sup3;/h"
                        ng-model="search.capacity"
                        type="number"
                        min="0"
                        step="0.1"
                        class="form-control"/>
                <div class="input-group-btn">
                    <label class="btn btn-default" btn-radio="'1'" ng-model="units.capacity">m&sup3;/h</label>
                    <label class="btn btn-default" btn-radio="'2'" ng-model="units.capacity">l/h</label>
                    <label class="btn btn-default" btn-radio="'3'" ng-model="units.capacity">l/m</label>
                </div>
            </div>
        </div>
    </div>
    <!--PPRESSURE-->
    <div class="form-group row">
        <div id="pressure" class="col-xs-12 col-sm-12 col-md-12">
            <label for="pressure">Pressure</label>
            <input
                    placeholder="bar"
                    ng-model="search.pressure"
                    type="number"
                    min="0"
                    step="1"
                    class="form-control"/>
        </div>
    </div>
    <!--VISCOSITY-->
    <div class="form-group row">
        <div id="viscosity" class="col-xs-12 col-sm-12 col-md-12">
            <label for="viscosity">Viscosity</label>
            <input
                    placeholder="SSU"
                    ng-model="search.viscosity"
                    type="number"
                    min="0"
                    step="1"
                    class="form-control"/>
        </div>
    </div>
    <!--SPECIFIC GRAVITY-->
    <div class="form-group row">
        <div id="sg" class="col-xs-12 col-sm-12 col-md-12">
            <label for="sg">SG</label>
            <input
                    placeholder="units"
                    ng-model="search.sg"
                    type="number"
                    min="0"
                    step="0.1"
                    class="form-control"/>
        </div>
    </div>
    <!--TEMPERATURE-->
    <div class="form-group row">
        <div id="temperature" class="col-xs-12 col-sm-12 col-md-12">
            <label for="temperature">Temperature</label>
            <input
                    placeholder="&#8451;"
                    ng-model="search.temperature"
                    type="number"
                    min="0"
                    step="1"
                    class="form-control"/>
        </div>
    </div>
    <!--PUMP TYPE-->
    <div class="form-group row">
        <div id="constPumpType" class="col-xs-12 col-sm-12 col-md-12">
            <label for="constPumpType">Pump Type</label>
            <div class="btn-toolbar">
                <div class="btn-group">
                    <label ng-repeat="type in constants | filter: {name: 'pump type'}" class="btn btn-default"
                           ng-model="search.pumpType" btn-radio="type.value">{{type.value}}</label>
                </div>
            </div>
        </div>
    </div>
    <!--CASING MATERIAL-->
    <div class="form-group row">
        <div id="material" class="col-xs-12 col-sm-12 col-md-12">
            <label for="material">Casing Material</label>
            <div class="btn-toolbar">
                <div class="btn-group">
                    <label class="btn btn-default" ng-model="search.casingMaterial" btn-radio="'Cast Iron'">Cast
                        Iron</label>
                    <label class="btn btn-default" ng-model="search.casingMaterial" btn-radio="'Cast Steel'">Cast
                        Steel</label>
                    <label class="btn btn-default" ng-model="search.casingMaterial" btn-radio="'Stainless Steel'">Stainless
                        Steel</label>
                </div>
            </div>
        </div>
    </div>
    <!--SEAL TYPE-->
    <div class="form-group row">
        <div id="seal" class="col-xs-12 col-sm-12 col-md-12">
            <label for="seal">Seal Type</label>
            <div class="btn-toolbar">
                <div class="btn-group">
                    <div class="btn-group">
                        <label ng-repeat="type in constants | filter: {name: 'sealType'}" class="btn btn-default"
                               ng-model="search.sealType" btn-radio="type.value">{{type.value}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--DRIVER ASSEMBLY-->
    <div class="form-group row">
        <div id="assembly" class="col-xs-12 col-sm-12 col-md-12">
            <label for="assembly">Driver Assembly</label>
            <div class="btn-toolbar">
                <div class="btn-group">
                    <label class="btn btn-default" ng-model="search.driverAssemblyType"
                           btn-radio="'Coupling'">Coupling</label>
                    <label class="btn btn-default" ng-model="search.driverAssemblyType"
                           btn-radio="'Ex.Proof Coupling'">Ex.Proof Coupling</label>
                    <label class="btn btn-default" ng-model="search.driverAssemblyType"
                           btn-radio="'Pump Adder'">Pump Adder</label>
                    <label class="btn btn-default" ng-model="search.driverAssemblyType"
                           btn-radio="'Flexible Coupling'">Flexible Coupling</label>
                    <label class="btn btn-default" ng-model="search.driverAssemblyType"
                           btn-radio="'Belt and Pulley'">Belt and Pulley</label>
                </div>
            </div>
        </div>
    </div>
    <!--OPTIONS-->
    <!--VALVE-->
    <!--JACKET-->
    <!--EX. PROOF-->
    <div class="form-group">
        <label for="options">Options:</label>
        <div class="form-group" id="options">

            <input type="checkbox" id="option1-checkbox" autocomplete="off" ng-model="search.reliefValve"
                   ng-true-value="true" ng-false-value="false"/>
            <div class="btn-group">
                <label for="option1-checkbox" class="btn btn-default">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span> </span>
                </label>
                <label for="option1-checkbox" class="btn btn-default open">Relief Valve</label>
            </div>

            <input type="checkbox" id="option2-checkbox" autocomplete="off" ng-model="search.heatingJacket"
                   ng-true-value="true" ng-false-value="false"/>
            <div class="btn-group">
                <label for="option2-checkbox" class="btn btn-default">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span> </span>
                </label>
                <label for="option2-checkbox" class="btn btn-default open">Heating Jacket</label>
            </div>

            <input type="checkbox" id="option3-checkbox" autocomplete="off" ng-model="search.explosionProof"
                   ng-true-value="true" ng-false-value="false"/>
            <div class="btn-group">
                <label for="option3-checkbox" class="btn btn-default">
                    <span class="glyphicon glyphicon-ok"></span>
                    <span> </span>
                </label>
                <label for="option3-checkbox" class="btn btn-default open">Explosion Proof Motor</label>
            </div>

        </div>
    </div>

    <button ng-click="doSearch()" class="btn btn-lg btn-block btn-primary" type="submit">Search</button>

    <div ng-if="result.list.length > 0"
         style="border: 2px groove #f2f2f2 !important; border-radius: 5px; margin-top: 15px">
        <div><h4>{{result.list.length}} {{result.list.length == 1 ? "item" : "items"}} found.</h4></div>
        <div ng-repeat="item in result.list" style="margin-bottom: 0.3em">
        </div>
    </div>

    <!--{{result.list}}-->

    <table class="table table-hover" ng-if="result.list.length > 0">
        <thead>
        <tr>
            <th>Pump</th>
            <th>Materials</th>
            <th>Reducer</th>
            <th>Motor</th>
            <th style="width: 20%"></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in result.list">
            <td>
                <!--PUMP-->
                <div><b>{{item.pump.constPumpType.value}} {{item.pump.modelName}}<br>
                    {{item.pump.producer.producerName}} ({{item.pump.producer.producerCountry.value}})</b></div>
            </td>
            <td>
                <!--MATERIALS-->
                <div>
                    Casing: {{item.pump.constCasingMaterial.value}}<br>
                    Rotor Gear: {{item.pump.constRotorGearMaterial.value}}<br>
                    Idler Gear: {{item.pump.constIdlerGearMaterial.value}}<br>
                    Shaft: {{item.pump.constShaftMaterial.value}}<br>
                    Shaft support: {{item.pump.constShaftSupportMaterial.value}}<br>
                    Seal: {{item.seal.sealType.value}}<br>
                    Connections: {{item.pump.constConnectionsType.value}} DN{{item.pump.constDn.value}},
                    {{item.pump.constConnectionsAngle.value}}&deg;</div>
            </td>
            <td>
                <!--REDUCER-->
                <div>
                    {{item.reducer.modelName}}<br>
                    {{item.reducer.producer.producerName}} ({{item.reducer.producer.producerCountry.value}})<br>
                    Speed to shaft: {{item.shaftSpeed}} rpm
                </div>
            </td>
            <td>
                <!--MOTOR-->
                <div>
                    {{item.motor.producer.producerName}} ({{item.motor.producer.producerCountry.value}})<br>
                    Voltage: 400 V<br>
                    Speed: {{item.motor.constSpeed.value}} rpm<br>
                    Power: {{item.motor.constPowerHp.value}} HP<br>
                    Explosion Proof: {{item.motor.constExplosionProof.value}}
                </div>
            </td>
            <td>
                <div>Pump assembly with {{item.driverAssembly.driverAssemblyType.value}},
                    {{item.driverAssembly.driverAssemblyType.value}} protection, motor-reducer and the
                    mounting frame.
                </div>
            </td>
            <td>
                <div>
                    <!--<button class="btn btn-success disabled">&#8364{{item.price}}</button>-->
                    <button class="btn btn-success ">&#8364{{item.price}}</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>