<div class="col-xs-12 col-sm-12 col-md-12" style="background-color: whitesmoke">

    {{search}}
    <!--MEDIUM-->
    <div class="form-group row">
        <div id="medium" class="col-xs-12 col-sm-12 col-md-12">
            <label for="medium">Medium</label>
            <input
                    ng-model="search.medium"
                    class="form-control"/>
        </div>
    </div>
    <!--PUMP TYPE-->
    <div class="form-group row">
        <div id="constPumpType" class="col-xs-12 col-sm-12 col-md-12">
            <label for="constPumpType">Pump Type</label>
            <div class="btn-toolbar">
                <div class="btn-group">
                    <label class="btn btn-default" ng-model="search.constPumpType.value" btn-radio="'Internal Eccentric Gear Pump'">Internal Eccentric Gear Pump</label>
                    <label class="btn btn-default" ng-model="search.constPumpType.value" btn-radio="'Modular Gear Pump'">Modular Gear Pump</label>
                    <label class="btn btn-default" ng-model="search.constPumpType.value" btn-radio="'Helical Gear Pump'">Helical Gear Pump</label>
                    <label class="btn btn-default" ng-model="search.constPumpType.value" btn-radio="'Lobe Pump'">Lobe Pump</label>
                    <label class="btn btn-default" ng-model="search.constPumpType.value" btn-radio="'Food Pump'">Food Pump</label>
                </div>
            </div>
        </div>
    </div>
    <!--CAPACITY-->
    <div class="form-group row">
        <div id="capacity" class="col-xs-12 col-sm-12 col-md-12">
            <label for="capacity">Capacity</label>
            <input
                    placeholder="m&sup3;/h"
                    ng-model="search.capacity"
                    type="number"
                    min="0"
                    step="0.1"
                    class="form-control"/>
        </div>
    </div>
    <!--PPRESSURE-->
    <div class="form-group row">
        <div id="pressure" class="col-xs-12 col-sm-12 col-md-12">
            <label for="pressure">Pressure</label>
            <input
                    placeholder="bar"
                    ng-model="search.pressure"
                    type="number"
                    min="0"
                    step="1"
                    class="form-control"/>
        </div>
    </div>
    <!--VISCOSITY-->
    <div class="form-group row">
        <div id="viscosity" class="col-xs-12 col-sm-12 col-md-12">
            <label for="viscosity">Viscosity</label>
            <input
                    placeholder="SSU"
                    ng-model="search.viscosity"
                    type="number"
                    min="0"
                    step="1"
                    class="form-control"/>
        </div>
    </div>
    <!--SPECIFIC GRAVITY-->
    <div class="form-group row">
        <div id="sg" class="col-xs-12 col-sm-12 col-md-12">
            <label for="sg">SG</label>
            <input
                    placeholder="units"
                    ng-model="search.sg"
                    type="number"
                    min="0"
                    step="0.1"
                    class="form-control"/>
        </div>
    </div>
    <!--ADVANCED-->
    <div class="form-group row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <label>ADVANCED</label>
        </div>
    </div>
    <!--TEMPERATURE-->
    <div class="form-group row">
        <div id="temperature" class="col-xs-12 col-sm-12 col-md-12">
            <label for="temperature">Temperature</label>
            <input
                    placeholder="&#8451;"
                    ng-model="search.temperature"
                    type="number"
                    min="0"
                    step="1"
                    class="form-control"/>
        </div>
    </div>
    <!--CASTING MATERIAL-->
    <div class="form-group row">
        <div id="material" class="col-xs-12 col-sm-12 col-md-12">
            <label for="material">Casting Material</label>
            <div class="btn-toolbar">
                <div class="btn-group">
                    <label class="btn btn-default" ng-model="search.constCastingMaterial.value" btn-radio="'GG 25 Cast Iron'">Cast Iron</label>
                    <label class="btn btn-default" ng-model="search.constCastingMaterial.value" btn-radio="'GS 45 Cast Steel'">Cast Steel</label>
                    <label class="btn btn-default" ng-model="search.constCastingMaterial.value" btn-radio="'AISI 304 CrNi Stainless Steel'">Stainless Steel 304</label>
                    <label class="btn btn-default" ng-model="search.constCastingMaterial.value" btn-radio="'AISI 316 CrNi Stainless Steel'">Stainless Steel 316</label>
                </div>
            </div>
        </div>
    </div>
    <!--SEAL TYPE-->
    <div class="form-group row">
        <div id="seal" class="col-xs-12 col-sm-12 col-md-12">
            <label for="seal">Seal Type</label>
            <div class="btn-toolbar">
                <div class="btn-group">
                    <label class="btn btn-default" ng-model="search.seal.sealType.value" btn-radio="'Packing'">Packing</label>
                    <label class="btn btn-default" ng-model="search.seal.sealType.value" btn-radio="'Lip Seal'">Lip Seal</label>
                    <label class="btn btn-default" ng-model="search.seal.sealType.value" btn-radio="'Rotatherm Seal'">Rotatherm Seal</label>
                    <label class="btn btn-default" ng-model="search.seal.sealType.value" btn-radio="'Mechanical Seal'">Mechanical Seal</label>
                    <label class="btn btn-default" ng-model="search.seal.sealType.value" btn-radio="'Cartex Mechanical Seal'">Cartex Mechanical Seal</label>
                </div>
            </div>
        </div>
    </div>
    <!--DRIVER ASSEMBLY-->
    <div class="form-group row">
        <div id="assembly" class="col-xs-12 col-sm-12 col-md-12">
            <label for="assembly">Driver Assembly</label>
            <div class="btn-toolbar">
                <div class="btn-group">
                    <label class="btn btn-default" ng-model="search.driverAssembly.driverAssemblyType.value" btn-radio="'Coupling'">Coupling</label>
                    <label class="btn btn-default" ng-model="search.driverAssembly.driverAssemblyType.value" btn-radio="'Pump Adder'">Pump Adder</label>
                    <label class="btn btn-default" ng-model="search.driverAssembly.driverAssemblyType.value" btn-radio="'Flexible Coupling'">Flexible Coupling</label>
                    <label class="btn btn-default" ng-model="search.driverAssembly.driverAssemblyType.value" btn-radio="'Belt and Pulley'">Belt and Pulley</label>
                </div>
            </div>
        </div>
    </div>
    <!--OPTIONS-->
    <!--VALVE-->
    <!--JACKET-->
    <!--EX. PROOF-->
    <div class="form-group row">
        <div id="options" class="col-xs-12 col-sm-12 col-md-12">
            <label for="options">OPTIONS</label>
            <div class="btn-toolbar">
                <input type="button" data-toggle="buttons-radio" class="btn btn-default" ng-model="search.reliefValve" btn-radio="'true'" value="Relief Valve">
                <input type="button" data-toggle="buttons-radio" class="btn btn-default" ng-model="search.heatingJacketed" btn-radio="'true'" value="Heating Jacket">
                <input type="button" data-toggle="buttons-radio" class="btn btn-default" ng-model="search.explosionProof" btn-radio="'true'" value="Explosion Proof">
                <input type="button" data-toggle="buttons-radio" class="btn btn-default active" value="Button">
            </div>
        </div>
    </div>

    <button ng-click="doSearch()" class="btn btn-lg btn-block btn-success" type="submit">Search</button>

    <div ng-if="result.list.length == 0" style="border: 2px groove #f2f2f2 !important; border-radius: 5px; margin-top: 15px">
        <div><h4> {{result.list.length}} {{result.list.length == 1 ? "item" : "items"}} found.</h4></div>
    </div>

    <div ng-if="result.list.length > 0" style="border: 2px groove #f2f2f2 !important; border-radius: 5px; margin-top: 15px">
        <div><h4> {{result.list.length}} {{result.list.length == 1 ? "item" : "items"}} found.</h4></div>
        <div ng-repeat="item in result.list" style="margin-bottom: 0.3em">
            ID: {{item.id}}, Seal model: {{item.seal.modelName}}
            Producer: {{item.producer.producerName}}
        </div>
    </div>

</div>