<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pages</title>
</head>
<body>
<div align="center">
    <h1>
        <p><a href="http://localhost:8080/pump/view/#/search">Search</a></p>
        <p><a href="http://localhost:8080/pump/view/#/manage">Manage</a></p>
        <p><a href="http://127.0.0.1:8080/pump/api/PumpSelectionService/filldatabase">Fill Base</a></p>
        <p><a href="http://127.0.0.1:8080/pump/api/DataBaseManagement/list">All Pumps</a></p>
    </h1>
</div>
</body>
</html>