body {
    background-color: whitesmoke;
}

/*table 100% width*/
/*.table-responsive {*/
/*display: table;*/
/*}*/

/*checkboxes*/
/*.form-group input[type="checkbox"] {*/
/*display: none;*/
/*}*/

/*.form-group input[type="checkbox"] + .btn-group > label span {*/
/*width: 20px;*/
/*}*/

/*.form-group input[type="checkbox"] + .btn-group > label span:first-child {*/
/*display: none;*/
/*}*/

/*.form-group input[type="checkbox"] + .btn-group > label span:last-child {*/
/*display: inline-block;*/
/*}*/

/*.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {*/
/*display: inline-block;*/
/*}*/

/*.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {*/
/*display: none;*/
/*}*/

/*coefficients box*/
#input1 {
    margin-bottom: 5px;
    padding-right: 5px;
}

#input2 {
    margin-bottom: 5px;
    padding-left: 0;
    padding-right: 5px;
}

#delete-button {
    margin-bottom: 5px;
    padding-left: 0;
}

#add-button {
    padding-right: 0;
}

/*seals box $ frames box*/
/*#seals_box_search_left,*/
/*#frames_box_search_left,*/
/*#drive_assemblies_box_search_left {*/
/*margin-bottom: 5px;*/
/*}*/

/*#seals_box_left_column,*/
/*#frames_box_left_column,*/
/*#drive_assemblies_box_left_column {*/
/*padding-right: 5px;*/
/*}*/

/*#seals_box_buttons_column,*/
/*#frames_box_buttons_column,*/
/*#drive_assemblies_box_buttons_column {*/
/*padding-right: 5px;*/
/*padding-left: 0;*/
/*}*/

/*#seals_box_search_right,*/
/*#frames_box_search_right,*/
/*#drive_assemblies_box_search_right {*/
/*margin-bottom: 5px;*/
/*}*/

/*#seals_box_right_column,*/
/*#frames_box_right_column,*/
/*#drive_assemblies_box_right_column {*/
/*padding-left: 0;*/
/*}*/

/*frames box*/
/*#frames_box_search_left {*/
/*margin-bottom: 5px;*/
/*}*/

/*#frames_box_left_column {*/
/*padding-right: 5px;*/
/*}*/

/*#frames_box_buttons_column {*/
/*padding-right: 5px;*/
/*padding-left: 0;*/
/*}*/

/*#frames_box_search_right {*/
/*margin-bottom: 5px;*/
/*}*/

/*#frames_box_right_column {*/
/*padding-left: 0;*/
/*}*/

/*NOTIFICATION ANIMATE*/
.animate-if.ng-enter, .animate-if.ng-leave {
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
    max-height: 0;
    opacity: 0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
    max-height: 100px;
    opacity: 1;
}

/*MENU LEFT PILLS*/
/*LoVe-HAte (a:link, a:visited, a:hover, a:active)*/
.nav-pills .nav-link:focus, .nav-pills .nav-link:hover {
    background-color: #ededed;
}

.nav-pills .nav-link.active {
    background-color: #2563ab;
}

/*TABLE*/
.tb-content {
    width: 1%;
    white-space: nowrap;
}

.modal-body {
    background-color: #fdfdfd;
}

.table thead th {
    vertical-align: middle;
    border-bottom: 2px solid #eceeef;
}

.table th, .table td {
    vertical-align: middle;
}