<div class="row">
    <div class="col-md-2 border-between">
        <nav class="nav nav-pills flex-column">
            <a class="flex-sm-fill nav-link" data-toggle="pill" ui-sref="main.edit.constant">Constant</a>
            <a class="flex-sm-fill nav-link" data-toggle="pill" ui-sref="main.edit.manage">Manage</a>
            <a class="flex-sm-fill nav-link" data-toggle="pill" href="#">Link</a>
            <a class="flex-sm-fill nav-link" data-toggle="pill" href="#">Disabled</a>
        </nav>
    </div>
    <div ui-view class="col-md-10"></div>
</div>