<div class="row">
    <div class="col-md-2">
        <nav class="nav nav-pills flex-column">
            <a class="flex-sm-fill nav-link active" data-toggle="pill" ui-sref="main.manage.manage" ui-sref-active="active">Manage</a>
            <div class="dropdown-divider"></div>
            <!--* COUNTRIES-->
            <a class="flex-sm-fill nav-link active" data-toggle="pill" ui-sref="main.manage.countries" ui-sref-active="active">Countries</a>
            <!--* PUMP TYPES-->
            <a class="flex-sm-fill nav-link active" data-toggle="pill" ui-sref="main.manage.pumpTypes" ui-sref-active="active">Pump Types</a>
            <!--* SEAL TYPES-->
            <a class="flex-sm-fill nav-link active" data-toggle="pill" ui-sref="main.manage.sealTypes" ui-sref-active="active">Seal Types</a>
            <!--* MATERIALS-->
            <a class="flex-sm-fill nav-link active" data-toggle="pill" ui-sref="main.manage.materials" ui-sref-active="active">Materials</a>
            <!--SEALS MATERIALS-->
            <a class="flex-sm-fill nav-link active" data-toggle="pill" ui-sref="main.manage.sealMaterials" ui-sref-active="active">Seal Materials</a>
            <!--BUSHING MATERIALS-->
            <a class="flex-sm-fill nav-link active" data-toggle="pill" ui-sref="main.manage.bushingMaterials" ui-sref-active="active">Bushing Materials</a>
            <!--* CONNECTIONS TYPES-->
            <a class="flex-sm-fill nav-link active" data-toggle="pill" ui-sref="main.manage.connectionTypes" ui-sref-active="active">Connection Types</a>
            <!--* DN-->
            <a class="flex-sm-fill nav-link active" data-toggle="pill" ui-sref="main.manage.dn" ui-sref-active="active">DN Types</a>
            <!--* CONNECTION ANGLE TYPES-->
            <a class="flex-sm-fill nav-link active" data-toggle="pill" ui-sref="main.manage.connectionAngleTypes" ui-sref-active="active">Connection Angle Types</a>
            <!--* MAX PRESSURE-->
            <a class="flex-sm-fill nav-link active" data-toggle="pill" ui-sref="main.manage.pressures" ui-sref-active="active">Pressure Limits</a>
            <!--* MAX TEMPERATURE-->
            <a class="flex-sm-fill nav-link active" data-toggle="pill" ui-sref="main.manage.temperatures" ui-sref-active="active">Temperature Limits</a>
            <!--* DRIVER ASSEMBLY TYPES-->
            <a class="flex-sm-fill nav-link active" data-toggle="pill" ui-sref="main.manage.driverAssemblyTypes" ui-sref-active="active">Driver Assemblies Types</a>
            <!--* EX PROOF TYPES-->
            <a class="flex-sm-fill nav-link active" data-toggle="pill" ui-sref="main.manage.explosionProofTypes" ui-sref-active="active">Ex. Proof Types</a>
            <!--* MOTOR POWER TYPE-->
            <a class="flex-sm-fill nav-link active" data-toggle="pill" ui-sref="main.manage.motorPowerTypes" ui-sref-active="active">Motor Power Types</a>
            <!--* MOTOR FRAME SIZES-->
            <a class="flex-sm-fill nav-link active" data-toggle="pill" ui-sref="main.manage.motorFrameSizes" ui-sref-active="active">Motor Frame Sizes</a>
            <!--* MOTOR SPEED TYPES-->
            <a class="flex-sm-fill nav-link active" data-toggle="pill" ui-sref="main.manage.motorSpeedTypes" ui-sref-active="active">Motor Speed Types</a>
        </nav>
    </div>
    <div ui-view class="col-sm-10"></div>
</div>

<!--* COUNTRIES-->
<!--* PRODUCERS-->
<!--* PUMP TYPES-->
<!--* SEAL TYPES-->
<!--* MATERIALS-->
<!--* CONNECTIONS TYPES-->
<!--* DN-->
<!--* MAX PRESSURE-->
<!--* CONNECTIONS ANGLE-->
<!--* MAX TEMPERATURE-->

<!--* DRIVER ASSEMBLY TYPES-->
<!--* EX PROOF TYPES-->
<!--* DRIVER ASSEMBLIES-->
<!--* MOTOR POWERS-->
<!--* MOTOR FRAME SIZES-->
<!--* MOTOR SPEED TYPES-->