<div class="row">
    <div class="col-md-2">
        <nav class="nav nav-pills flex-column">
            <a class="flex-sm-fill nav-link mb-1" data-toggle="pill" ui-sref="main.manage.manage" ui-sref-active="active">Manage</a>
            <hr>
            <a class="flex-sm-fill nav-link mb-1" data-toggle="pill" ui-sref="main.manage.producers" ui-sref-active="active">Producers</a>
            <a class="flex-sm-fill nav-link mb-1" data-toggle="pill" ui-sref="main.manage.motors" ui-sref-active="active">Motors</a>
            <a class="flex-sm-fill nav-link mb-1" data-toggle="pill" ui-sref="main.manage.reducers" ui-sref-active="active">Reducers</a>
            <hr>
            <a class="flex-sm-fill nav-link mb-1" data-toggle="pill" ui-sref="main.manage.countries" ui-sref-active="active">Countries</a>
            <a class="flex-sm-fill nav-link mb-1" data-toggle="pill" ui-sref="main.manage.pumpTypes" ui-sref-active="active">Pump Types</a>
            <a class="flex-sm-fill nav-link mb-1" data-toggle="pill" ui-sref="main.manage.sealTypes" ui-sref-active="active">Seal Types</a>
            <a class="flex-sm-fill nav-link mb-1" data-toggle="pill" ui-sref="main.manage.materials" ui-sref-active="active">Materials</a>
            <a class="flex-sm-fill nav-link mb-1" data-toggle="pill" ui-sref="main.manage.sealMaterials" ui-sref-active="active">Seal Materials</a>
            <a class="flex-sm-fill nav-link mb-1" data-toggle="pill" ui-sref="main.manage.bushingMaterials" ui-sref-active="active">Bushing Materials</a>
            <a class="flex-sm-fill nav-link mb-1" data-toggle="pill" ui-sref="main.manage.connectionTypes" ui-sref-active="active">Connection Types</a>
            <a class="flex-sm-fill nav-link mb-1" data-toggle="pill" ui-sref="main.manage.dn" ui-sref-active="active">DN Types</a>
            <a class="flex-sm-fill nav-link mb-1" data-toggle="pill" ui-sref="main.manage.connectionAngleTypes" ui-sref-active="active">Connection Angle Types</a>
            <a class="flex-sm-fill nav-link mb-1" data-toggle="pill" ui-sref="main.manage.pressures" ui-sref-active="active">Pressure Limits</a>
            <a class="flex-sm-fill nav-link mb-1" data-toggle="pill" ui-sref="main.manage.temperatures" ui-sref-active="active">Temperature Limits</a>
            <a class="flex-sm-fill nav-link mb-1" data-toggle="pill" ui-sref="main.manage.driverAssemblyTypes" ui-sref-active="active">Driver Assemblies Types</a>
            <a class="flex-sm-fill nav-link mb-1" data-toggle="pill" ui-sref="main.manage.explosionProofTypes" ui-sref-active="active">Ex. Proof Types</a>
            <a class="flex-sm-fill nav-link mb-1" data-toggle="pill" ui-sref="main.manage.motorPowerTypes" ui-sref-active="active">Motor Power Types</a>
            <a class="flex-sm-fill nav-link mb-1" data-toggle="pill" ui-sref="main.manage.motorFrameSizes" ui-sref-active="active">Motor Frame Sizes</a>
            <a class="flex-sm-fill nav-link mb-1" data-toggle="pill" ui-sref="main.manage.motorSpeedTypes" ui-sref-active="active">Motor Speed Types</a>
        </nav>
    </div>
    <div ui-view class="col-sm-10"></div>
</div>

<!--PRODUCERS-->

<!--* COUNTRIES-->
<!--* PRODUCERS-->
<!--* PUMP TYPES-->
<!--* SEAL TYPES-->
<!--* MATERIALS-->
<!--* CONNECTIONS TYPES-->
<!--* DN-->
<!--* MAX PRESSURE-->
<!--* CONNECTIONS ANGLE-->
<!--* MAX TEMPERATURE-->
<!--* DRIVER ASSEMBLY TYPES-->
<!--* EX PROOF TYPES-->
<!--* DRIVER ASSEMBLIES-->
<!--* MOTOR POWERS-->
<!--* MOTOR FRAME SIZES-->
<!--* MOTOR SPEED TYPES-->